@import "global";

.paginacion {
  @include caja-flex(flex, column, center, center, nowrap);
  width: 100%;
  height: 100%;
  &_notes {
    height: 80%;
    width: 100%;
    @media #{$smarphone} {
      padding-top: 30px;
      margin-bottom: 5px;
      overflow-y: auto;
    }
  }
  &_buttons {
    @include caja-flex(flex, row, space-around, center, nowrap);
    width: 20%;
    height: 5%;
  }
  &_btn {
    border: none;
    background: none;

    &_i {
      font-size: 25px;
    }
  }
}
